TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

###
URL_AUTORIDADE_TRIBUTARIA='https://www.acesso.gov.pt/alterarDadosAcessoForm?partID=PFAP&path=/geral/dashboard&authMethods=NIF,CARTAO_DE_CIDADAO'